.news-page{
  background-image: linear-gradient(to top right, rgba($color-primary,.6), rgba($color-primary-dark, .9)),
  url("../img/main.jpg");
  background-size: cover;
  padding: 7rem;

  &__container{
    width: 90%;
    height: 100rem;
    background-color: rgba($color-white, .9);
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    display: flex;
    position: relative;
  }
}


