.news-detail{
  flex: 0 0 82%;
  //display: flex;
  background-color: antiquewhite;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
  padding: 5rem;

  &__container{
    background-color: white;
    border-radius: 1rem;
    padding: 5rem;
  }
}