.news-detail{
  flex: 0 0 82%;
  //display: flex;
  background-color: antiquewhite;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
  padding: 5rem;

  &__container{
    background-color: white;
    border-radius: 1rem;
    padding: 5rem;
  }

  &__server-detail{
    background-color: white;
    padding: 10rem;
    border-radius: 1rem;

    &__title{
      font-family: 'Dancing Script', cursive;
      font-size: 5rem;
      text-align: center;
      color: $color-primary-dark;
      font-weight: bolder;
    }
  }
}