.footer{
  padding: 8rem;
  background: #870000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &__icon{
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  &__icon-list{
    margin-right: 1.5rem;
    transition: all .3s;

    &:hover{
      cursor: pointer;
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__nav{
    display: block;
    text-align: center;
    margin-bottom: 2rem;

    &-list{
      font-size: 2rem;
      color: $color-primary;
      display: inline-block;
      transition: all .3s;

      &:not(:last-child){
        margin-right: 1.4rem;
      }

      &:hover{
        color: $color-grey-light-2;
        transform: scale(1.2) rotate(-5deg);
      }
    }
  }

  &__logo{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(to top, $color-primary-dark, $color-primary-light);
    -webkit-background-clip: text;
    color: transparent;
    padding: 1rems;
  }
}