.updates{
  padding: 5rem 0 10rem 0;
  background-color: $color-grey-light-2;

  &__container{
    background-color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__text{
      width: 80rem;
      //background-color: red;
    }
  }

  &__desc{
    font-size: 2rem;
    color: $color-grey-dark;
    padding: 0 10rem 3rem 10rem;

    @include respond(phone) {
      padding: 0 2rem 1rem 2rem;
    }
  }
}