$color-primary: #f0cb35;
$color-primary-2: #DBE6AF;

$color-primary-dark: #c02425;

$color-black: black;
$color-white: white;

$color-grey-dark: #777;

$color-grey-light-2: #eeeeee;




$default-font-size: 1.6rem;
