.btn-main{
  font-size: 1.5rem;
  background-color: transparent;
  border: $color-white 1px solid;
  border-radius: 5px;
  color: $color-white;
  padding: .3rem 1.4rem .3rem 1.4rem;
  text-transform: uppercase;
  margin-left: 2rem;
  letter-spacing: 1px;
  transition: all .3s;
  @include lightBoxShadow;
  backface-visibility: hidden;

  &__sign-in{
    color: $color-primary-2;
    border: $color-primary-2 1px solid;
  }

  &:hover{
    transform: translateY(-3px) scale(1.05);
    cursor: pointer;
    @include lightBoxShadow;
  }

  &:active{
    transform: translateY(0px);
    cursor: pointer;
    @include lightBoxShadow;
  }
}