.gallery{
  position: relative;
  display: block;
  height: 40rem;
  width: 80rem;
  //background-color: orangered;
  margin: 10px auto;

  &__img{
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    transition: all .3s;


    &:hover{
      transform: scale(1.4);
      z-index: 10;
    }
  }

  &__img{
    border-radius: 5px;
  }
  &__img-1{
    width: 25rem;
    position: absolute;
    z-index: 3;
    transform: rotate(10deg);
    right: 40rem;
    top: 20rem;
  }

  &__img-2{
    width: 42rem;
    position: absolute;
    transform: rotate(-10deg);
    right: 20rem;
    top: 4rem;
    z-index: 2;
  }

  &__img-3{
    width: 25rem;
    position: absolute;
    z-index: 3;
    transform: rotate(15deg);
    right: 13rem;
    top: 4rem;
  }

  &__img-4{
    width: 35rem;
    position: absolute;
    z-index: 6;
    transform: rotate(-10deg);
    right: 50rem;
    top: 15rem;
  }

  &__img-5{
    width: 30rem;
    position: absolute;
    z-index: 3;
    transform: rotate(10deg);
    right: 40rem;
    top: 2rem;
  }

  &__img-6{
    width: 25rem;
    position: absolute;
    z-index: 5;
    transform: rotate(-10deg);
    right: 20rem;
    top: 10rem;
  }

  &__img-7{
    width: 25rem;
    position: absolute;
    z-index: 4;
    transform: rotate(10deg);
    right: 3rem;
    top: 2rem;
  }

  &__img-8{
    width: 30rem;
    position: absolute;
    z-index: 5;
    transform: rotate(15deg);
    right: 5rem;
    top: 5rem;
  }

  &__img-9{
    width: 34rem;
    position: absolute;
    z-index: 2;
    transform: rotate(-10deg);
    right: 44rem;
    top: 6rem;
  }

  &__img-10{
    width: 46rem;
    position: absolute;
    z-index: 4;
    transform: rotate(10deg);
    right: 10rem;
    top: 10rem;
  }
}