.gallery{
  position: relative;
  display: block;
  height: 40rem;
  width: 70rem;
  //background-color: orangered;
  margin: 0 auto;

  @include respond(tab-port) {
    width: 50rem;
  }

  &__img{
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    transition: all .3s;

    &:hover{
      transform: scale(1.4);
      z-index: 10;
    }
  }

  &__img{
    border-radius: 5px;
  }
  &__img-1{
    width: 25rem;
    position: absolute;
    z-index: 3;
    transform: rotate(10deg);
    right: 40rem;
    top: 20rem;

    @include respond(phone) {
      width: 20rem;
    }

    @include respond(tab-port) {
      right: 22rem;
      width: 25rem;
    }
  }

  &__img-2{
    width: 42rem;
    position: absolute;
    transform: rotate(-10deg);
    right: 20rem;
    top: 4rem;
    z-index: 2;

    @include respond(phone) {
      right: 10rem;
      width: 35rem;
    }

    @include respond(tab-port) {
      right: 13rem;
      //width: 37rem;
    }

  }

  &__img-3{
    width: 25rem;
    position: absolute;
    z-index: 3;
    transform: rotate(15deg);
    right: 13rem;
    top: 4rem;

    @include respond(phone) {
      width: 23rem;
    }

    @include respond(tab-port) {
      right: 3rem;
    }

  }

  &__img-4{
    width: 35rem;
    position: absolute;
    z-index: 6;
    transform: rotate(-10deg);
    right: 45em;
    top: 15rem;

    @include respond(tab-port) {
      width: 30rem;
      right: 20rem;
    }
  }

  &__img-5{
    width: 30rem;
    position: absolute;
    z-index: 3;
    transform: rotate(10deg);
    right: 35rem;
    top: 2rem;

    @include respond(tab-port) {
      right: 27rem;
      width: 25rem;
    }
  }

  &__img-6{
    width: 25rem;
    position: absolute;
    z-index: 6;
    transform: rotate(-10deg);
    right: 15rem;
    top: 10rem;

    @include respond(tab-port) {
      width: 20rem;
    }
  }

  &__img-7{
    width: 25rem;
    position: absolute;
    z-index: 8;
    transform: rotate(10deg);
    right: 0;
    top: 2rem;

    @include respond(tab-port) {
      width: 18rem;
    }
  }

  &__img-8{
    width: 30rem;
    position: absolute;
    z-index: 5;
    transform: rotate(15deg);
    right: 0;
    top: 5rem;

    @include respond(tab-port) {
      width: 25rem;
    }
  }

  &__img-9{
    width: 32rem;
    position: absolute;
    z-index: 2;
    transform: rotate(-10deg);
    right: 38rem;
    top: 6rem;

    @include respond(tab-port) {
      width: 27rem;
      right: 23rem;
    }
  }

  &__img-10{
    width: 43rem;
    position: absolute;
    z-index: 4;
    transform: rotate(10deg);
    right: 5rem;
    top: 8rem;

    @include respond(tab-port) {
      width: 38rem;
      right: 0;
    }
  }
}